// $font: "" Open Sans ", sans-serif";
@font-face {
  font-family: "courier";
  src: url("/fonts/courier-prime-v7-latin-regular.woff"),
    url("/fonts/courier-prime-v7-latin-regular.woff2");
}
$font: "courier";
